* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  text-align: center;
}

.banner{
  position: relative;
}

.banner > img {
  max-width: 100%;
  height: auto;
  opacity: .8;
}

.banner > div {
  font-size: 40px;
  color: ivory;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  margin: auto;
}

td {
  
  padding: 0px 5px;
}

#rating {
  
  font-size: 12px;
  margin: -15px 0 15px 0;
}

input, textarea {
  display: block;
  margin: 10px auto;

}

input[type=number]{
  display: inline;
}

nav {
  display: flex;
  background-color: #C6D59A;
  margin-top: -4px;
}

nav > a {
  padding: 7px 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #4C5E18;
}

nav > a:hover{
  color: #ECFFB5;
}



