* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.banner{
  position: relative;
}

.banner > img {
  max-width: 100%;
  height: auto;
  opacity: .8;
}

.banner > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

