<%- include('../partials/header') %>

<form action="/recipes" method="POST">
    <label>Recipe Name: <input type="text" name="title" required></label>
    <label>Prep Time(mins): <input type="number" name="prepTime" min="0" step="5" required></label>
    <label>Cook Time(mins): <input type="number" name="cookTime" min="0" step="5" required></label>
    <label>Steps: <input type="text" name="content" required></label>
    <input type="submit" value="Submit Recipe">
</form>

<%- include('../partials/footer') %>